In [67]:
class employee:
    def __init__(self,emp_name,emp_id,emp_age):
        self.name=emp_name
        self.id=emp_id
        self.age=emp_age
    def display(self):
        print("Enter the name:",self.name)
        print("enter the id:",self.id)
        print("enter the age:",self.age)
emp1=employee("ram",101,25)
emp2=employee("jack",102,24)
emp1.display()
emp2.display()

Enter the name: ram
enter the id: 101
enter the age: 25
Enter the name: jack
enter the id: 102
enter the age: 24

In [79]:
class employee:
    def __init__(self):
        self.name=input("enter the name:")
        self.id=int(input("enter the id:"))
        self.age=int(input("enter the age:"))
    def display(self):
        print("\n employee name:",self.name)
        print(" employee the id:",self.id)
        print(" employee the age:",self.age)
emp1=employee()
emp2=employee()
emp3=employee()
emp1.display()
emp2.display()
emp3.display()

enter the name:vy
enter the id:12
enter the age:22
enter the name:sh
enter the id:123
enter the age:23
enter the name:na
enter the id:124
enter the age:24

 employee name: vy
 employee the id: 12
 employee the age: 22

 employee name: sh
 employee the id: 123
 employee the age: 23

 employee name: na
 employee the id: 124
 employee the age: 24